<div class="container nav-2">
  <ul class="nav nav-pills">
    <li class="active"><a href="/device/">Devices <span class="badge">{{model.length}}</span></a></li>
    <li><a href="/device/">Alerts <span class="label label-danger">{{model.length}}</span></a></li>
  </ul>
</div>

<div class="container-fluid">
  {{#each device in model}}
  <div class="row">
    <div class="col-lg-12">
      {{device.name}} - Detailed Analytics
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="legend_container">
        <div class="graph_legend" id="{{device.name}}-vpn-legend"></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div id="{{device.name}}-yAxis"></div>
      <div class="graph_container">
        {{vpn-graph device=device data=vpnData}}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="graph_container">
      {{cpu-graph device=device data=cpuData}}
    </div>
  </div>
  {{/each}}
</div>
