<div class="container nav-2">
  <ul class="nav nav-pills">
    <li class="active"><a href="/device/">Devices <span class="badge">{{model.length}}</span></a></li>
    <li><a href="/device/">Alerts <span class="label label-danger">{{model.length}}</span></a></li>
  </ul>
</div>

<div class="containter">
  {{#each device in model}}
  <div class="row">

    <div class="col-sm-4">
      <div class="legend_container">
        <div class="graph_legend" id="{{device.name}}-legend"></div>
      </div>
    </div>

    <div class="col-sm-8">
      <br>
      <h4>{{device.name}} VPN Graph</h4>
      {{vpn-graph device=device.name data=device.vpns}}
    </div>
  </div>

  {{/each}}
</div>
